In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('/Users/hyeokseung/Desktop/KHUDA_TOY/Data/숙박 여행 유형 정보/csv/LDGMENT_MERGE.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16553 entries, 0 to 16552
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             16553 non-null  int64
 1   RESPOND_ID             16553 non-null  int64
 2   EXAMIN_YM              16553 non-null  int64
 3   SEXDSTN_FLAG_CD        16553 non-null  object
 4   AGRDE_FLAG_NM          16553 non-null  object
 5   ANSWRR_OC_AREA_NM      16553 non-null  object
 6   HSHLD_INCOME_DGREE_NM  16553 non-null  object
 7   DMSTC_TOUR_TY_VALUE    16553 non-null  object
 8   OVSEA_TOUR_TY_VALUE    16553 non-null  object
dtypes: int64(3), object(6)
memory usage: 1.1+ MB

In [4]:
idx = df[df['HSHLD_INCOME_DGREE_NM']=='모름'].index
df.drop(idx, inplace=True)

In [5]:
encoding_columns = ['SEXDSTN_FLAG_CD', 'AGRDE_FLAG_NM', 
                    'ANSWRR_OC_AREA_NM', 'HSHLD_INCOME_DGREE_NM',
                    'HSHLD_INCOME_DGREE_NM', 'DMSTC_TOUR_TY_VALUE',
                   ]
not_encoding_columns = ['RESPOND_ID', 'EXAMIN_YM', 'OVSEA_TOUR_TY_VALUE']

In [6]:
enc_classes = {}

def encoding_label(x):
    le = LabelEncoder()
    le.fit(x)
    label = le.transform(x)
    
    enc_classes[x.name] = le.classes_
    
    return label

In [7]:
d1 = df[encoding_columns].apply(encoding_label) 
d2 = df[not_encoding_columns]
d2 = d2.drop(labels='OVSEA_TOUR_TY_VALUE', axis=1)
data = d2.join(d1)
data.head()

,RESPOND_ID,EXAMIN_YM,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,HSHLD_INCOME_DGREE_NM,DMSTC_TOUR_TY_VALUE
0,359452,202210,1,0,1,0,0,0
1,359820,202210,1,0,1,2,2,0
2,368738,202210,1,0,8,2,2,0
3,394182,202210,1,0,8,3,3,0
4,407377,202210,1,0,1,1,1,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15640 entries, 0 to 16552
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RESPOND_ID             15640 non-null  int64
 1   EXAMIN_YM              15640 non-null  int64
 2   SEXDSTN_FLAG_CD        15640 non-null  int64
 3   AGRDE_FLAG_NM          15640 non-null  int64
 4   ANSWRR_OC_AREA_NM      15640 non-null  int64
 5   HSHLD_INCOME_DGREE_NM  15640 non-null  int64
 6   HSHLD_INCOME_DGREE_NM  15640 non-null  int64
 7   DMSTC_TOUR_TY_VALUE    15640 non-null  int64
dtypes: int64(8)
memory usage: 1.6 MB

In [11]:
data.to_csv('/Users/hyeokseung/Desktop/KHUDA_TOY/Data/숙박 여행 유형 정보/csv/ouput.csv', index=False)